.container{
    position: relative;
    width: 80%;
    margin: 0.4em auto;
    background-color: steelblue;
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 1.5em;
    .deco{
        position: absolute;
        top: calc(100% - 1em + 2px);
        border-radius: 40%;
        width: 0.8em;
        height: 1em;
        background-color: white;
    }
    .d1{
        left: calc(100% - 2em);
    }
    .d2{
        left: calc(100% - 3.5em);
    }
    .d3{
        left: calc(100% - 5em);
    }
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    flex-grow: 1;
    &:before{
        content: '';
        width: 30%;
        height: 100%;
        background: white;
        display: inline-block;
        border-bottom-right-radius: 100% 100%;
      }
      a{
        text-decoration: none;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        margin: 1px;
        color: lavender;
        opacity: 0.8;
        padding: 8px 12px;

        &:hover{
            font-size: 1.205em;
            opacity: 1;
            animation: grow 0.5s  forwards ease-out;
        }
        // &:active{
        //     // font-size: 1em; //not working
        //     background-color: red;
        // }
        // &:visited{
        //     background-color: red;
        // }
      }
      .menuIcon{
          display: none;
          font-size: 2em;
          cursor: pointer;
          color: lavender;
      }
      .nav-items, .nav-items-mobile{
        max-height: 2em;
        transition: max-height 1s ease-in-out; //not working 
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
      }
}

@keyframes grow {
    from{
        font-size: 1.2em;
        opacity: 0.8;
    }
    to{
        font-size: 1.205em;
        opacity: 1;
    }
}
@keyframes expandTransition {
    to{
        display: flex;
    }
}
@media screen and (max-width: 1024px) {
    .nav::before{
        content: '';
        display: none;
      }
      .about div{
          flex-basis: 100%;
      }
}
@media screen and (max-width: 780px){
    .nav{
        opacity: 1;
        justify-content: flex-end;
        .nav-items{
        max-height: 10em;
            .nav-item{
                flex-basis: 100%;
                margin-bottom: 0.2em;
                padding: 0.3em 0;
            }
        }
        .nav-items-mobile{
            display: none;
        }
    }
    .menuIcon{
        display: block !important;
        $disp: inline-block;
        margin-right: 0.5em;
        }
    
}