.hoby{
    font-family: 'Redressed', cursive;
    .foreword{
        font-size: 2em;
        background-color: aliceblue;
        padding: 1em 2em;
        margin: 1em;
        border-radius: 1em;
    }
    .header{
        font-size: 2.5em;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        background-color: gainsboro;
        margin: 0.5em;
    }
}
.modalContainer{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #747070, $alpha: 0.75);

        .modal{
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .close{
                position: absolute;
                top: -0.5em;
                left: calc(100% - 3em);
            }
            .showImage{
                box-sizing: border-box;
                max-height: calc(100vh - 2em);
                margin: 2em auto;
                box-shadow: 0 0 5px 5px #ccc;
            }
        }
    }